[submodule "WebContent/xstyle"]
	path = WebContent/xstyle
	url = https://github.com/kriszyp/xstyle.git
[submodule "WebContent/put-selector"]
	path = WebContent/put-selector
	url = https://github.com/kriszyp/put-selector.git
[submodule "WebContent/util"]
	path = WebContent/util
	url = https://github.com/dojo/util.git
[submodule "WebContent/dgrid"]
	path = WebContent/dgrid
	url = https://github.com/SitePen/dgrid.git
[submodule "WebContent/dijit"]
	path = WebContent/dijit
	url = https://github.com/dojo/dijit.git
[submodule "WebContent/dojo"]
	path = WebContent/dojo
	url = https://github.com/dojo/dojo.git
[submodule "WebContent/dojox"]
	path = WebContent/dojox
	url = https://github.com/dojo/dojox.git
[submodule "WebContent/dstore"]
	path = WebContent/dstore
	url = https://github.com/SitePen/dstore.git
