[submodule "public/xstyle"]
	path = public/xstyle
	url = https://github.com/kriszyp/xstyle.git
[submodule "public/put-selector"]
	path = public/put-selector
	url = https://github.com/kriszyp/put-selector.git
[submodule "public/dgrid"]
	path = public/dgrid
	url = https://github.com/SitePen/dgrid.git
[submodule "public/dijit"]
	path = public/dijit
	url = https://github.com/dojo/dijit.git
[submodule "public/dojo"]
	path = public/dojo
	url = https://github.com/dojo/dojo.git
[submodule "public/dojox"]
	path = public/dojox
	url = https://github.com/dojo/dojox.git
[submodule "public/dstore"]
	path = public/dstore
	url = https://github.com/SitePen/dstore.git
[submodule "src/util"]
	path = src/util
	url = https://github.com/dojo/util.git
